* {
  box-sizing: border-box;
}

:root {
  --color-gray-10: #f6f2fc;
  --color-gray-50: #f0eafa;
  --color-gray-100: #ded8e8;
  --color-gray-200: #c1bcc9;
  --color-gray-300: #aba6b3;
  --color-gray-400: #96929d;
  --color-gray-500: #7f7b85;
  --color-gray-600: #69666f;
  --color-gray-700: #514f55;
  --color-gray-800: #403e44;
  --color-gray-900: #2e2c32;

  --color-primary-500: #dfdddd;
  --color-primary-600: #B6B6B6;
  --color-primary-700: #595656;
  --color-primary-800: #000000;

}

html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
      background: radial-gradient(
    ellipse at top left,
    #ffffff00,
    #cecccc
  );
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  margin: 2rem auto;
  max-width: 45rem;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.75rem;
  border-radius: 4px;
}

#main-header {
  padding: 1rem 10%;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#main-header ul {
  display: flex;
  gap: 2rem;
  flex: 1;
}

#logo {
  color: var(--color-primary-800);
  font-size: 1.15rem;
  justify-self: start;
}

#logo a {
  color: inherit;
}

.cta {
  padding: 0.5rem 1rem;
  background-color: white;
  color: var(--color-primary-700, #2b2bff);
  border-radius: 20px;
  border: none;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  font: inherit;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.cta:hover {
  background-color: var(--color-primary-500);
}

#cta-nav {
  justify-self: end;
}

#cta-nav ul {
  gap: 0;
}

.cta-alt {
  background-color: transparent;
  color: var(--color-primary-10);
  border: none;
  font: inherit;
  cursor: pointer;
}

.cta-alt:hover {
  color: var(--color-primary-700);
}

#main-nav a {
  color: var(--color-primary-800);
}

#main-nav a:hover,
#main-nav a.active {
  color: var(--color-primary-700);
}

.error {
  text-align: center;
}

.error .icon {
  font-size: 3rem;
}

.error p {
  color: var(--color-primary-700)
}

.error h1,
.error h2 {
  margin: 0.5rem 0;
  color: var(--color-primary-800);
}

.error a {
  color: var(--color-primary-600);
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

