.box {
  display: grid;
  place-items: center;
  width: 90vmin; /* адаптивный размер: 90% от меньшей стороны экрана */
  aspect-ratio: 1 / 1; /* делает элемент квадратом */
  border-radius: 20px;
  background-color: var(--color-primary-700);
}

.main-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 92%;
  height: 92%;
}

.square {
  background-color: var(--color-primary-600);
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.rect {
  background-color: var(--color-primary-600);
  border-radius: 10px;
  grid-column: span 2;
  width: 100%;
}
